{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover Particel Digital Agency's achievements, happy clients, and successful projects. Leading digital solutions for businesses.">
    <meta name="keywords" content="Particel, digital agency, achievements, clients, projects, digital solutions">
    <link rel="canonical" href="https://www.particel.com/achievements"> 
    <link rel="icon" href="{% static 'home/images/Particel.png' %}" type="image/icon type">
  
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'nonce-{{ nonce }}' https://kit.fontawesome.com; style-src 'self'; img-src 'self' data: https://images.pexels.com; frame-ancestors 'none';">
    <meta http-equiv="X-Frame-Options" content="DENY">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin"> 
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="{% static 'home/css/achievement.css' %}">
    <title>Particel Digital Agency - Client Achievements & Success Stories | Leading Digital Solutions</title>
  
    </head>
  <body>
    <!-- PRE LOADER -->
    <section class="preloader">
      <div class="spinner"></div>
    </section>
    <nav class="navbar">
      <div class="navbar-container">
        <a href="{% url 'pershdev-home' %}" class="navbar-brand">ParticelAG</a>
        <button class="navbar-toggle" id="navbarToggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="navbar-nav" id="navbarNav">
          <li><a href="{% url 'pershdev-home' %}" class="smoothScroll">Home</a></li>
          <li><a href="{% url 'achieve' %}" class="smoothScroll">Achievements</a></li>
          <li><a href="{% url 'pershdev-cs50d' %}" class="smoothScroll">About Us</a></li>
          <li><a href="{% url 'pershdev-home' %}" class="smoothScroll">Contact Us</a></li>
          <li><a href="#findus" class="smoothScroll">Find Us</a></li>
        </ul>
        <div class="navbar-social">
          <a href="https://www.facebook.com/particelag" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.twitter.com/particelag/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/particel.ag" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/@ParticelDigitalAgency" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <!-- Mobile dropdown -->
      <div class="dropdown-content" id="mobileDropdown">
        <a href="{% url 'pershdev-home' %}">Home</a>
        <a href="{% url 'achieve' %}">Achievements</a>
        <a href="{% url 'pershdev-cs50d' %}">About Us</a>
        <a href="{% url 'pershdev-home' %}">Contact Us</a>
        <a href="#findus">Find Us</a>
        <div class="dropdown-social">
          <a href="https://www.facebook.com/particelag" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.twitter.com/particelag/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/particel.ag" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/@ParticelDigitalAgency" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </nav>
    <section class="container2">
      <aside class="achievements-container">
        <div class="achievements">
          <div class="achievement happy">
            <i class="fas fa-smile-beam"></i>
            <div class="number-container">
              <span class="number" data-target="50">0</span>
              <span class="symbol">+</span>
            </div>
            <h3>Happy Clients</h3>
            <p>Trust us with their projects.</p>
          </div>
          <div class="achievement successful">
            <i class="fas fa-project-diagram"></i>
            <div class="number-container">
              <span class="number" data-target="60">0</span>
              <span class="symbol">+</span>
            </div>
            <h3>Successful Projects</h3>
            <p>Completed with excellence.</p>
          </div>
          <div class="achievement trusted">
            <i class="fas fa-handshake"></i>
            <div class="number-container">
              <span class="number" data-target="10">0</span>
              <span class="symbol">+</span>
            </div>
            <h3>Trusted Partners</h3>
            <p>Leading companies in the industry.</p>
          </div>
          <div class="achievement satisfied">
            <i class="fas fa-thumbs-up"></i>
            <div class="number-container">
              <span class="number" data-target="90">0</span>
              <span class="symbol">%</span>
            </div>
            <h3>Satisfied Customers</h3>
            <p>Rate our services highly.</p>
          </div>
        </div>
      </aside>
    </section>
    <section class="container">
      <div class="header">
        <h2>Loved by Our Clients</h2>
        <p class="subheader">See what our clients are saying about Particel's digital agency services.</p>
      </div>
      <div class="reviews-container">
        <div class="reviews-grid" id="reviewsGrid"></div>
      </div>
    </section>
    <footer>
      <div class="footer-background"></div>
      <div class="footer-content">
        <div class="footer-section">
          <h2>Terms and Agreements</h2>
          <p>By accessing or utilizing any of our services, you acknowledge that you have thoroughly read, comprehended, and unconditionally accept all the terms and conditions outlined in our Terms of Service, Privacy Policy, and any other applicable agreements or policies.</p>
        </div>
        <div class="footer-section">
          <div id="findus">
            <h2>Find Us</h2>
            <a href="https://twitter.com/particelag" target="_blank">Twitter</a>
            <a href="https://www.instagram.com/particel.ag" target="_blank">Instagram</a>
            <a href="https://www.youtube.com/@ParticelDigitalAgency" target="_blank">Youtube</a>
            <a href="https://www.facebook.com/particelag" target="_blank">Facebook</a>
          </div>
        </div>
        <div class="footer-section">
          <h2>Legal Documents</h2>
          <a href="https://docs.google.com/document/d/1rRlOQaO2yKxXM6YloCM2jaOvsofAbVy2tB7sPGYFiZ8/edit?usp=sharing" target="_blank">Privacy Policy</a>
          <a href="https://docs.google.com/document/d/1BHuYnVqf3jusMiQxdbLxS-uh__yVK_Q_ls4wYeW0tTk/edit?usp=sharing" target="_blank">Services Agreement</a>
          <a href="https://docs.google.com/document/d/1PKsTCZqt5EfaIayQAc6AissLcC_CehAKhMt4oep42YE/edit?usp=sharing" target="_blank">Terms and Conditions</a>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="copyright-text">
          <p>&copy; 2024 Particel Digital Agency. All rights reserved.</p>
        </div>
        <div class="footer-social">
          <a href="https://www.facebook.com/particelag" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://www.twitter.com/particelag/" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/particel.ag" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.youtube.com/@ParticelDigitalAgency" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </footer>
    <script src="{% static 'home/js/achievment.js' %}" nonce="{{ nonce }}"></script>
    <script src="{% static 'home/js/jquery.js' %}" nonce="{{ nonce }}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}" nonce="{{ nonce }}"></script>
    <script src="{% static 'home/js/jquery.stellar.min.js' %}" nonce="{{ nonce }}"></script>
    <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}" nonce="{{ nonce }}"></script>
    <script src="{% static 'home/js/smoothscroll.js' %}" nonce="{{ nonce }}"></script>
    <script src="{% static 'home/js/custom.js' %}" nonce="{{ nonce }}"></script>
  </body>
</html>
