{% extends 'home/main.html' %}
{% load static %}
{% block title %}
    <title>PershDev- Projects</title>
{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'home/css/project.css' %}">{% endblock css %}
{% block project %}
    <!-- Projects section -->
    <section id='main-container'>
        <div class='project-container1'>
            <div>

                <!-- ghesmat chap -->
                <img class="project-img" src="{% static 'home/images/test2.jpg' %}" alt ="Image couldn't load properly" width ="300px" height ="200px"/>
            </div>
            <div class='rghtm1'>

                <!-- ghesmat rast -->
                <h1>CALOX</h1>
                <p>some discription here
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </br></br>
                <a class ="btn-link1" href='#'>VISIT SITE</a>
            </div>
        </div>
        <div class='project-container2'>
            <div>
                <!-- ghesmat chap -->

                <img class="project-img" src="{% static 'home/images/test2.jpg' %}" alt ="Image couldn't load properly" width="300px" height="200px"/>
            </div>
            <div class='rghtm2'>

                <!-- ghesmat rast -->
                <h1>RACE BAT</h1>
                <p>some discription here
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </br></br>
                <a class ="btn-link2" href='#'>VISIT SITE</a>
            </div>
        </div>
    </section>

    <!-- Next Page btn -->
    <div class="btn-next">
        <a href="{% url 'pershdev-projects-pg1' %}" class="previous round">&#8249;</a>
        <a href="{% url 'pershdev-projects-pg1' %}" class="pg1">1</a>
        <a href="{% url 'pershdev-projects-pg2' %}" id="cnt" class="pg2">2</a>
        <a href="{% url 'pershdev-projects-pg2' %}" class="next round">&#8250;</a>
    </div>
{% endblock project %}

