@import url('http://getbootstrap.com/dist/css/bootstrap.css');
.custom-navbar .navbar-brand {
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -1px;
    background: none;
}
.custom-navbar .nav li a {
    font-size: 14px;
    font-weight: 550;
    color: #000000;
    letter-spacing: -0.5px;
    padding-right: 22px;
    padding-left: 22px;
}
.project-container1{
    display: flex;
    background: linear-gradient(to right, #0575E6, #00F260);
    padding: 75px;
    flex-direction: row;
}
.project-container2{
    display: flex;
    padding: 75px;
}
.rghtm1 p{
    color: white;
    margin-left:12.5%;
    text-align: justify;
    width: 75%;
}
.rghtm2 p{
    color: rgb(22, 16, 100);
    margin-left:12.5%;
    text-align: justify;
    width: 75%;
}
.rghtm1 h1{
    color: white;
    text-align: center;
    width: 100%;
}
.rghtm2 h1{
    color: rgb(22, 16, 100);
    text-align: center;
    width: 100%;
}
.project-img{
    margin-right: 5vw;
    border-radius: 50%;
}
.btn-link1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    padding: 10px 50px;
    margin-left: 1%;
}
.btn-link1:hover {
    background: rgb(127, 8, 206);
    border: none;
    color: white;
}
.btn-link2{
    color: rgb(22, 16, 100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    padding: 10px 50px;
    margin-left: 1%;
}
.btn-link2:hover{
    color: white;
    background: linear-gradient(to right, #0575E6, #00F260);
    border:none;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background: rgba(22, 16, 100, 0.473);
}

.previous {
    background-color: rgb(22, 16, 100);
    color: white;   
    margin-right: 10px;
}
.next {
    background-color: rgb(22, 16, 100);
    color: white;
}
.round {
    border-radius: 50%;
}
.btn-next{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.pg1 , .pg2 {
    margin-right: 10px;
    border-radius: 50%;
    background-color: #f1f1f1
}
.pg1:hover , .pg2:hover {
    background: rgba(22, 16, 100);
    color: white;
}
#cnt{
    background: rgba(22, 16, 100);
    color :white ;
}

/**************

responsive medias

**************/
@media only screen and (max-width: 1000px){
    .rghtm1 h1, .rghtm2 h2 ,.rghtm1 p, .rghtm2 p{
        width: 100%;
        margin-left: 0%;
    }

}
@media only screen and (max-width: 767px){
    .project-container1 , .project-container2{
        flex-direction: column;
    }
    .project-img{
        margin-right:0px;
        width: 40%
    }
} 
@media only screen and (max-width: 600px){
    .project-img{
        width: 60%;
    }
}  
/**************

Certification page designs

**************/

.cs50d-container{
    background: linear-gradient(to right, #0575E6, #00F260);
    padding-bottom: 200px;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.linkme{
    color:#d9d9d9;
}
.linkme:visited{
    color:#d9d9d9;
}
  .linkme:hover{
    color: rgb(127, 8, 206);
    background: none;
  }